<%- include('partials/main')%>
    <div id="content-container">	
          <div id="page-title">
              <h1 class="page-header text-overflow">Dashboard</h1>
          </div>
          <div class="tab-base">
                <div class="panel">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="col-md-12" style="border-bottom: 1px solid #ebebeb;padding:10px;">
                                <button class="btn btn-primary btn-labeled fa fa-plus-circle pull-right" onclick="ajax_modal('add','Add Sub-category ( Physical Product )','Successfully Added!','sub_category_add','')">
                                        Create Sub Category                                    </button>
                            </div>
                            <!-- LIST -->
                            <div class="tab-pane fade active in" id="list" style="border:1px solid #ebebeb; border-radius:4px;"><div class="panel-body" id="demo_s">
            <div class="bootstrap-table"><div class="fixed-table-toolbar"><div class="columns columns-right btn-group pull-right"><button class="btn btn-default" type="button" onclick="ajax_set_list()" name="refresh" title="Refresh"><i class="fa fa-refresh icon-refresh"></i></button><button class="btn btn-default" type="button" title="%s" onclick="export_it('pdf');">pdf</button><button class="btn btn-default" type="button" title="%s" onclick="export_it('csv');">csv</button><button class="btn btn-default" type="button" title="%s" onclick="export_it('excel');">xls</button></div><div class="pull-right search"><input class="form-control" placeholder="Search" type="text"></div></div><div class="fixed-table-container"><div class="fixed-table-header"><table></table></div><div class="fixed-table-body"><div class="fixed-table-loading" style="top: 37px;">Loading, please wait…</div><table id="demo-table" class="table table-striped table-hover" data-pagination="true" data-show-refresh="true" data-ignorecol="0,3" data-show-toggle="true" data-show-columns="false" data-search="true">
                <thead>
                    <tr><th style=""><div class="th-inner ">No</div><div class="fht-cell"></div></th><th style=""><div class="th-inner ">Name</div><div class="fht-cell"></div></th><th style=""><div class="th-inner ">Banner</div><div class="fht-cell"></div></th><th style=""><div class="th-inner ">Category</div><div class="fht-cell"></div></th><th style=""><div class="th-inner ">Brands</div><div class="fht-cell"></div></th><th class="text-right" style=""><div class="th-inner ">Options</div><div class="fht-cell"></div></th></tr>
                </thead>				
                <tbody>
                        <% newarray.forEach(function(loc,index) { %>
                    <tr data-index="0"><td style=""><%= index+1 %></td><td style=""><%= loc.sub_category_name  %></td><td style="">
                                        <img class="img-md" src="https://fooderia.in/uploads/sub_category_image/sub_category_96.jpg?random=1535389269012" height="100px">  
                                    </td><td style=""><%= loc.category  %></td>
                                    <td style=""><%=loc.brand   %>
                                      </td><td class="text-right" style="">
                        <a class="btn btn-success btn-xs btn-labeled fa fa-wrench" data-toggle="tooltip" onclick="ajax_modal('edit','Edit Sub-category ( Physical Product )','Successfully Edited!','sub_category_edit','96')" data-original-title="Edit" data-container="body">
                                Edit                </a>
                        <a onclick="delete_confirm('96','Really Want To Delete This?')" class="btn btn-danger btn-xs btn-labeled fa fa-trash" data-toggle="tooltip" data-original-title="Delete" data-container="body">
                                        Delete                </a>
                    </td></tr>
                    <% }); %>
                </tbody>
            </table></div><div class="fixed-table-pagination"><div class="pull-left pagination-detail"><span class="pagination-info">Showing 1 to 10 of 19 rows</span><span class="page-list" style="display: none;"><span class="btn-group dropup"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="page-size">10</span> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="active"><a href="javascript:void(0)">10</a></li></ul></span> records per page</span></div><div class="pull-right pagination"><ul class="pagination"><li class="page-first disabled"><a href="javascript:void(0)">&lt;&lt;</a></li><li class="page-pre disabled"><a href="javascript:void(0)">&lt;</a></li><li class="page-number active disabled"><a href="javascript:void(0)">1</a></li><li class="page-number"><a href="javascript:void(0)">2</a></li><li class="page-next"><a href="javascript:void(0)">&gt;</a></li><li class="page-last"><a href="javascript:void(0)">&gt;&gt;</a></li></ul></div></div></div></div><div class="clearfix"></div>
        </div>
                   
       
        
                   </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
      
<%- include('partials/allbottom.ejs') %>
